{% extends "base.html" %}

{% block title %}
    NFT Requesting Form | NFT Minter
{% endblock %}

{% block content %}
    {% if errors %}
        <div class="alert alert-danger">
            <ul>
            {% for field, errors in errors.items %}
                {% for error in errors %}
                    <li>{{ field }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form action="/nft/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <section class="vh-100 gradient-custom">
            <div class="container py-5 h-100">
              <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-lg-9 col-xl-7">
                  <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                      <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 text-primary">Vehicle Details</h3>
                      <form>
                        <div class="row mt-3">
                          <div class="col">
                            <label for="Cowner">Owner Name</label>
                            {{form.owner_name}}
                          </div>
                          <div class="col">
                            <label for="Cowner">Manufacture Date</label>
                            {{form.manufactured_date}}
                          </div>
                        </div>
        
                        <div class="row mt-3">
                          <div class="col">
                            <label for="body">Owner Address</label>
                            {{form.owner_address}}
                          </div>
                          <div class="col">
                            <label for="Cowner">Date of Registered</label>
                            {{form.registered_data}}
                            </div>
                          </div>
            
        
                        <div class="row mt-3">
                          <div class="col">
                            <label for="body">Owner NIC Number</label>
                             {{form.owner_nic}}
                          </div>
                          <div class="col">
                            <label for="Cowner">Body Type</label>
                            {{form.body_type}}
                          </div>
                        </div>
        
                        <div class="row mt-3">
                          <div class="col">
                            <label for="body">Description</label>
                            {{form.description}}
                          </div>
                          <div class="col">
                            <label for="Cowner">Wheel Base (cm)</label>
                            {{form.wheel_base}}
                          </div>
                        </div>
        
        
                        <div class="row mt-3">
                          <div class="col">
                            <label for="body">Engine Number</label>
                            {{form.engine_no}}
                          </div>
                          <div class="col">
                            <label for="Cowner">Color</label>
                            {{form.color}}
                          </div>
                        </div>
        
                        <div class="row mt-3">
                          <div class="col">
                            <label for="body">Chassis Number</label>
                            {{form.chassis_no}}
                          </div>
                          <div class="col">
                            <label for="Cowner">Seating Capacity</label>
                            {{form.seating_capacity}}
                          </div>
                        </div>
        
                        <div class="row mt-3">
                          <div class="col">
                            <label for="body">Vehicle Type</label>
                              {{form.vehicle_type}}
                          </div>
                          <div class="col">
                            <label for="Cowner">Internal Height (cm)</label>
                            {{form.internal_height}}
                          </div>
                        </div>
        
                        <div class="row mt-3">
                          <div class="col">
                            <label for="body">Company</label>
                            {{form.company}}
                          </div>                          
                          <div class="col mt-4">
                            <label for="body">Cylinder Capacity (cc)</label>
                            {{form.cylinder_capacity}}
                          </div>
                        </div>

                        
                        <div class="row mt-3">
                          <div class="col">
                            <label for="body">Fuel Type</label>
                            {{form.fuel_type}}
                          </div>                          
                          <div class="col mt-4">
                            <label for="body">Estimation Price (MATIC)</label>
                            {{form.price}}
                          </div>
                        </div>

                        <div class="row mt-3">
                          <div class="col">
                            <label for="body">Thumbnail</label>
                            {{form.thumbnail}}
                          </div>                          
                          <div class="col mt-4">
                            <label for="body">Attachments</label>
                            {{form.attachments}}
                          </div>
                        </div>
                        
                        <div class="row mt-3">
                          <div class="col">
                            <label for="body">Model Number</label>
                            {{form.vehicle_model}}
                          </div>                          
                          <div class="col mt-4">
                            <button type="submit" class="btn btn-primary "data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="background-color: #036;">Create NFT</button>
                          </div>
                        </div>
        
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        
    </form>
{% endblock %}

