{% extends "base.html" %}

{% block title %}
    NFT Requesting Form | NFT Minter
{% endblock %}

{% block content %}
    {% if errors %}
        <div class="alert alert-danger">
            <ul>
                {% for field, errors in errors.items %}
                    {% for error in errors %}
                        <li>{{ field }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form action="/nft/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <section class="vh-100 gradient-custom">
            <div class="container py-5 h-100">
                <div class="row justify-content-center align-items-center h-100">
                    <div class="col-12 col-lg-9 col-xl-7">
                        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                            <div class="card-body p-4 p-md-5">
                                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 text-primary">Vehicle Details</h3>
                                <form>
                                    <div class="row mt-3">
                                        <div class="col">
                                            <label for="Cowner">Owner Name</label>
                                            {{ form.owner_name }}
                                        </div>
                                        <div class="col">
                                            <label for="Cowner">Manufacture Date</label>
                                            <input type="date" class="form-control" name="manufactured_date" value="{{form.manufactured_date.value}}">
{#                                            {{ form.manufactured_date }}#}
                                        </div>
                                    </div>

                                    <div class="row mt-3">
                                        <div class="col">
                                            <label for="body">Owner Address</label>
                                            {{ form.owner_address }}
                                        </div>
                                        <div class="col">
                                            <label for="Cowner">Registration Date</label>
                                            <input type="date" class="form-control" name="registered_date" value="{{form.registered_date.value}}">
{#                                            {{ form.registered_date }}#}
                                        </div>
                                    </div>


                                    <div class="row mt-3">
                                        <div class="col">
                                            <label for="body">Owner NIC Number</label>
                                            {{ form.owner_nic }}
                                        </div>
                                        <div class="col">
                                            <label for="Cowner">Body Type</label>
                                            {{ form.body_type }}
                                        </div>
                                    </div>

                                    <div class="row mt-3">
                                        <div class="col">
                                            <label for="body">Estimation Price (MATIC)</label>
                                            <input type="number" class="form-control" name="price" min="0" value="{{form.price.value}}" required>
{#                                            {{ form.price }}#}
                                        </div>
                                        <div class="col">
                                            <label for="Cowner">Wheel Base (cm)</label>
                                            {{ form.wheel_base }}
                                        </div>
                                    </div>


                                    <div class="row mt-3">
                                        <div class="col">
                                            <label for="body">Engine Number</label>
                                            {{ form.engine_no }}
                                        </div>
                                        <div class="col">
                                            <label for="Cowner">Color</label>
                                            {{ form.color }}
                                        </div>
                                    </div>

                                    <div class="row mt-3">
                                        <div class="col">
                                            <label for="body">Chassis Number</label>
                                            {{ form.chassis_no }}
                                        </div>
                                        <div class="col">
                                            <label for="Cowner">Seating Capacity</label>
                                            <input type="number" class="form-control" name="seating_capacity" min="1" value="{{form.seating_capacity.value}}">
{#                                            {{ form.seating_capacity }}#}
                                        </div>
                                    </div>

                                    <div class="row mt-3">
                                        <div class="col">
                                            <label for="body">Company</label>
                                            {{ form.company }}
                                        </div>
                                        <div class="col">
                                            <label for="Cowner">Internal Height (cm)</label>
                                            <input type="number" class="form-control" name="internal_height" min="0" value="{{form.internal_height.value}}">
{#                                            {{ form.internal_height }}#}
                                        </div>
                                    </div>

                                    <div class="row mt-3">
                                        <div class="col">
                                            <label for="body">Model Number</label>
                                            {{ form.vehicle_model }}
                                        </div>
                                        <div class="col">
                                            <label for="body">Cylinder Capacity (cc)</label>
                                            <input type="number" class="form-control" name="cylinder_capacity" min="0" value="{{form.cylinder_capacity.value}}">
{#                                            {{ form.cylinder_capacity }}#}
                                        </div>
                                    </div>

                                    <div class="row mt-3">
                                        <div class="col">
                                            <label for="body">Fuel Type</label><br>
                                            {{ form.fuel_type }}
                                        </div>
                                        <div class="col">
                                            <label for="body">Vehicle Type</label><br>
                                            {{ form.vehicle_type }}
                                        </div>
                                    </div>

                                    <div class="row mt-3">
                                        <div class="col">
                                            <label for="body">Description</label>
                                            {{ form.description }}
                                        </div>
                                    </div>

                                    <div class="mt-lg-5">
                                        <div class="row">
                                            <label for="thumbnail" class="col-md-3">Thumbnail</label>
                                            <input type="file" id="thumbnail" name="thumbnail" class="col-md-9" required>
{#                                            {{ form.thumbnail }}#}
                                        </div>
                                        <div class="mt-lg-2 row">
                                            <label for="attachments" class="col-md-3">Attachments</label>
                                            <input type="file" id="attachments" multiple name="attachments" class="col-md-9" required>
{#                                            {{ form.attachments }}#}
                                        </div>
                                    </div>

                                    <div class="col mt-4">
                                        <button type="submit" class="btn btn-primary" style="background-color: #036;">
                                            Create NFT
                                        </button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </form>
{% endblock %}

