{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="{% static 'images/favicon.svg' %}" />
    <title>VOMS | SSI Issuer Service</title>
    <meta
      name="description"
      content="An SSI issuing system for VOMS system"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="{% static 'css/voms.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
  </head>
  <body>
    
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark">
        <!-- Navbar content -->
        <div class="container">
          <a class="navbar-brand" href="/">
            <img
              class="img-fluid d-none d-md-block"
              src="/assets/images/bcid-logo-rev-en.svg"
              width="177"
              height="44"
              alt="VOMS Logo"
            />
          </a>
          <div class="navbar-brand" >
            SSI Issuing Service
          </div>
        </div>
      </nav>
    </header>
    <main role="main">
      <div class="container">
        <div class="row">
          <div class="col-md-9 col-sm-8">
            <h1>SSI Issuing  Service</h1>
            <p>
                Fill the following form to request SSI. Verification mail will be sent to the given email.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-9 col-sm-8">
            <form action="/submit/" method="post">
              {% csrf_token %}
              <fieldset>
                <div class="form-group">
                  {{ form }}
                  <small id="emailHelp" class="form-text text-muted"
                    >We'll never share your details with anyone else.</small
                  >
                </div>
                <strong>{{ errors }}</strong>
                <input type="submit" class="btn btn-primary" />
              </fieldset>
            </form>
          </div>
        </div>
        <hr />
        <div class="row what-is-this">
          <div class="col-md-9 col-sm-8">
            <h2>What is this?</h2>
            <p>
              An automated service that uses email to facilitate a peer-to-peer
              connection with your self-sovereign identity agent. Once established
              the service issues a verifiable credential attesting to its owner's
              control over the email address used.
            </p>
            
          </div>
        </div>
      </div>
    </main>
    <footer class="footer">
    </footer>
    <script src="{% static 'js/voms.min.js' %}" async defer></script>
    
    
  </body>
</html>
