{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="/assets/images/favicon.svg" />
    <title>VOMS Email Verification Service</title>
    <meta
      name="description"
      content="An email verification service used to issue a verifiable credential asserting that you are the owner of an email address."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="{% static 'css/voms.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #036;">
        <!-- Navbar content -->
        <div class="container">
          <a class="navbar-brand" href="/">
            <img
              class="img-fluid d-none d-md-block"
              src="/assets/images/bcid-logo-rev-en.svg"
              width="177"
              height="44"
              alt="VOMS Logo"
            />

            <img
              class="img-fluid d-md-none"
              src="/assets/images/bcid-symbol-rev.svg"
              width="63"
              height="44"
              alt="VOMS Logo"
            />
          </a>
          <div class="navbar-brand">
            Email Verification Service
          </div>
        </div>
      </nav>
    </header>
    <main role="main">
      <div class="container">
        <div class="row">
          <div class="col-md-9 col-sm-8">
            <h1>Thank you!</h1>
            <p>
              We have sent an email with more instructions to <b>{{ email }}</b
              >.
            </p>
          </div>
        </div>
      </div>
    </main>
    <script src="{% static 'js/voms.min.js' %}" async defer></script>
  </body>
</html>
